.detail-logo,
.detail-heading {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.detail-logo {
  padding:35px 0 0px;;
}