@import '../../variables.scss';

.service-detail {

  .hero-img-wrapper {
    overflow: hidden;
    height: 0;
    width: 100%;
    padding-bottom: 56.5%;

    @media only screen and (min-width: 800px) {
      padding-bottom: 35%;
    }

    @media only screen and (min-width: 1000px) {
      padding-bottom: 30%;
    }

    @media only screen and (min-width: 1200px) {
      padding-bottom: 27.5%;
    }

    @media only screen and (min-width: 1400px) {
      padding-bottom: 23%;
    }
  }

.detail-body {
  background-color: $white;
  max-width: 2000px;
  margin: 0 auto;

  .detail-description {
 
    margin-top: -1px;
    border-top: 1px solid $grey;
    padding: 40px 0;

    h3, p {
      width: 100%;
    }

    h3 p,
    h3 p a {
      text-align: left;
      font: 300 20px/1.65em 'Raleway', sans-serif;
      color: #0b486b;
    }

    h3 > p > a {
      color: $primary-color;
    }

    blockquote {
      border-left: 12px solid rgba(141, 141, 141, .5);
      padding-left: 30px;
      margin-left: 0;

      @media only screen and (max-width: 48em) {
        border-left: 4px solid rgba(141, 141, 141, .5);
        padding-left: 15px;
        margin-left: 0;
      }
      
      p {
        font-size: 24px;
        font-weight: 400;
        font-style: italic;

        @media only screen and (max-width: 48em) {
          font-size: 16px;
        }
      }

      // P::before {
      //   content: '\201C'
      // }

      // P::after {
      //   content: '\201D'
      // }
    }
  }

    @media only screen and (min-width: 1400px) {
      .portfolio-item {
        padding: 75px 0;
        margin-bottom: 75px;
        border-top: 1px solid $grey;
        height: 500px;
        background: transparent;

        .item-content {
          display: inline-block;
          position: relative;

          a.screenshot,
          .video {
            padding: 0;
            margin: 0 75px 0 0;

            h4 {
              font-family: 'Montserrat', sans-serif;
              font-size: 18px;
              font-weight: 700;
              word-spacing: 0.6px;
              line-height: 16.7px;
              letter-spacing: -2px;
              margin: 0;
              padding: 0 1px;
              color: $grey;
              text-align: left;
            }
          }

          .screenshot,
          .video {
            position: relative;
            z-index: 0;
            float: left;
          }

          .video {
            width: 700px;
            height: 450px;
          }

          a.screenshot.loaded:before,
          a.screenshot.loaded:after {
            content: '';
            position: absolute;
            box-sizing: border-box;
            box-shadow: 0 15px 10px rgba(0,0,0,.6);
            left: 5px;
            right: 5px;
            bottom: 5px;
            height: 30%;
            z-index: 1;
            transform-origin: 0 0;
            transform: skewY(-6deg);
          }

          a.screenshot.loaded:after {
            transform-origin: 100% 0;
            transform: skewY(6deg);
          }
      
          img {
            position: relative;
            z-index: 2;
            width: 700px;
          }
      
          h3,
          p {
            text-align: left;
          }
      
          h3 {
            padding-top: 10px;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            letter-spacing: .2px;
            color: #222222;
            font-size: 21px;
          }
      
          p {
            padding: 0 25px;
          }
        }
      }

        .portfolio-item:nth-child(2n+0) {

          .item-content {
            .screenshot,
            .video {
              float: right;
              margin: 0 0 0 75px;
            }
        
            h3,
            p {
              text-align: right;
            }

            a.screenshot h4 {
              text-align: right;
            }
        }
      }
    }

    @media only screen and (max-width: 1400px) {

      .portfolio-item {
        max-width: 700px;
        border-top: 1px solid $grey;
        padding-top: 50px;
        margin-bottom: 30px;

        h3 {
          padding-top: 10px;
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          letter-spacing: .2px;
          color: #222222;
          font-size: 21px;
        }

        .item-title {
          display: none;
        }

        p {
          text-align: left;
        }

        .item-content {
          margin-bottom: 10px;
          position: relative;

          .video {
            height: 450px;
          }

          a.screenshot:before,
          a.screenshot:after {
            content: none;
          }
        }
      }
    }

    @media only screen and (max-width: 760px) {

      .detail-description {
        padding: 10px 30px;
        h3 p,
        h3 p a {
          font: 300 18px/1.65em 'Raleway', sans-serif;
        }
      }

      .portfolio-item {
        .item-content {
           p {
             padding: 0 30px;
           }
          .video {
            height: 350px;
          }
        }
      }
    }

    @media only screen and (max-width: 600px) {

      .detail-description {
        padding: 10px 10px;
        h3 p,
        h3 p a {
          font: 300 18px/1.65em 'Raleway', sans-serif;
        }
      }
      

      .portfolio-item {
        .item-content {
          p {
            padding: 0 10px;
          }
          .video {
            height: 250px;
          }
        }
      }
    }
  }
}