@import '../../variables.scss';

.service-item-container {

  .service-title {
    transition: all .3s;
    height: 50px;
    width: 70%;
    background: $link-color!important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 25px;
    border-radius: 25px;
    border: 2px solid $link-color;

    h3 {
      color: white;
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    &:hover {
      background: $white!important;
      border-color: $black!important;

      h3 {
        color: $black!important;
      }
    }
  }

  .service-item {
    position: relative;
    display: flex;
    transition: background-size .3s ease;
    align-items: flex-end;
    justify-content: center;
    background-size: 100% 100%!important;
    background-position: center!important;
    margin: 15px 15px 60px;
    cursor: pointer;


    .overlay {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $black;
      opacity: 0;
      transition: opacity .3s ease;
    }

    &:hover {
      background-size: 104% 104%!important;

      .service-title {
        background: $white!important;
        border-color: $black!important;

        h3 {
          color: $black!important;
        }
      }

      .overlay {
        opacity: .4;
      }
    }
  }
}
