@import '../../variables.scss';

.detail-body {
  background-color: $white;
  max-width: 2000px;
  margin: 0 auto;

  .detail-description {
 
    padding: 0px 25px 35px;
    h3 {
      text-align: left;
      font: 300 20px/1.65em 'Raleway', sans-serif;
      color: #0b486b;
    }
  }

  @media only screen and (min-width: 1400px) {
    .portfolio-item {
      padding: 25px 0 50px;
      margin-bottom: 25px;
      border-top: 1px solid $black;
      height: 500px;

      .item-content {
        display: inline-block;

    
        img,
        iframe {
          float: left;
          width: 700px;
          padding: 25px;
        }
    
        h3,
        p {
          text-align: left;
        }
    
        h3 {
          padding-top: 10px;
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          letter-spacing: .2px;
          color: #222222;
          font-size: 21px;
        }
    
        p {
          padding: 0 25px;
        }
      }
    }

      .portfolio-item:nth-child(2n+0) {

        .item-content {
          img,
          iframe {
            float: right;
          }
      
          h3,
          p {
            text-align: right;
          }   
      }
    }
  }
  }