@import '../../variables.scss';

.row.full-width {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

nav {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  transition: height, .45s;
  background: $primary-color;
  z-index: 2;

  &.scrolled {
    height: 50px;
  }

  @media only screen and (max-width: 48em) {
    height: 50px;
  }

  .nav-links a,
  .nav-links .dropdown-button {
    color: $white;
    padding: 1rem;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: 12px;

    &::selection {
      color: none;
      background: none;
    }
  }

  .nav-links .dropdown-button {
    cursor: pointer;

    &:after {
      content: "\25BC";
      display: inline-block;
      font-size: 8px;
      position: relative;
      margin-left: 3px;
      top: 40%;

      transform: translateY(-50%);
    }
  }
}


.nav-home a {
  font-weight: 600;
  font-size: 19px;
  color: $darkBlue;
  opacity: .4;
  cursor: pointer;
  padding-left: 40px;

  &:hover {
    opacity: 1;
  }

  @media only screen and (max-width: 48em) {
    opacity: 1;
    color: $black;
  }
}

.row.nav-links {
  color: $white;

  @media only screen and (max-width: 48em) {
    display: none;
  }
}

nav.scrolled .nav-links a,
nav.scrolled .nav-links .dropdown-button,
nav.scrolled .nav-home a {
  color: $black;
  opacity: 1;
  font-weight: 400;
}

@media only screen and (min-width: 48em) {
  .row.burger-menu,
  .row.mobile-nav {
    display: none;
  }
}

.mobile-nav {
  background: $primary-color;
  position: fixed;
  top: 50px;
  height: 0;
  transition:transform 0.3s ease-in;
  transform:scaleY(0);
  padding-left: 45px;
  padding-bottom: 15px;
  padding-top: 0px;
  overflow: hidden;

  &.open {
    height: auto;
    transform:scaleY(1);
    transform-origin:top;
  }

  a {
    color: $black;
    line-height: 1.7;
    padding: .5rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
  }
}

.burger-menu {
  cursor: pointer;
}