@import '../../variables.scss';

.carousel {
  height: 320px;
  width: 100%;

  .carousel-item {
    height: 285px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Montserrat, sans-serif;
  }


  h2.carousel-quote {
    text-align: left;
    padding-top: 25px;
    width: 700px;
    font-stretch: 100%;
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -2px;
    margin: 0;
  }

  h3.carousel-client {
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1;
  }
}

.slider-decorator-0,
.slider-decorator-1 {
  display: none;
}