@import '../../variables.scss';

.contact-form-container {
  height: calc(100vh - 50px);
  width: 100%;
  background-color: white;
  // border: solid red 1px;

  .contact-form {
    // border: solid blue 1px;
    height: 75%;
    color: black;
    font-family: Montserrat, sans-serif;

    h5.phone-cta {
      font-size: 10px;
      font-weight: 600;
      letter-spacing: 4px;
      text-transform: uppercase;
      line-height: 1;
    }

    h2.phone-number {
      word-spacing: 0px;
      font-stretch: 100%;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: 46px;
      letter-spacing: -2px;
      margin: 0;

      .number-text {
        vertical-align: text-top;
      }
    }

    a.email-address {
      font: 300 12px 'Poppins', sans-serif;
      letter-spacing: .2px;
      color: $grey;

      .email-text {
        padding-left: 5px;
        vertical-align: top;
      }
    }

    form {

      input.text-input {
        height: 54px;
      }

      textarea.multiline-input {
        height: auto;
      }

      input.text-input,
      textarea.multiline-input {
        margin: 30px 0 0;
        font: 700 14px 'Poppins', sans-serif;
        letter-spacing: .2px;
        color: black;
        background-color: $form-bg;
        border: none;
        box-shadow: none;
        border-radius: 0px;
        outline: none;
        padding: 15px 20px;
        transition: background-color .3s;

        &:hover {
          background-color: $form-bg-hover;
          box-shadow: none;
        }

        &::placeholder {
          font: 400 14px 'Poppins', sans-serif;
          color: #8d8d8d;
        }
      }

      input.contact-submit-btn {
        text-align: center;
        color: white;
        background-color: $primary-color!important;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 1px;
        padding: 18px 38px 18px 38px!important;
        margin: 15px 10px;
        border: 2px solid $primary-color;;
        opacity: .98;
        border-radius: 30px;
        transition: all .3s;
    
        &:hover {
          cursor: pointer;
          background-color: white;
          opacity: .75;
        }
      }
    }
  }
}
