@import '../../variables.scss';

.footer {
  height: 123px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $white;
  background-color: $primary-color;
  font: 300 16px/1.65em 'Raleway', sans-serif;
  letter-spacing: .2px;

  @media only screen and (max-width: 48em) {
    height: 70px;
    font-size: 10px;
  }
}