@import '../../variables.scss';

.blog-main-container {
  padding: 50px 0;
  min-height: calc(100vh - 220px);

  .blog-post-list {
    height: 100%;
    padding-right: 50px;

    @media only screen and (max-width: 62em) {
      padding-right: inherit!important;
    }

    .blog-list-item {
      text-align: left;
      margin-bottom: 40px;
      padding: 0 10px 10px 10px;
      box-sizing: border-box;

      &:hover {
        cursor: pointer;
      }

      .item-header {
        width: 100%;

        h2 {
          margin-bottom: 10px;
        }
        h2 a,
        h2.no-posts {
          color: #222222;
          font-size: 21px;
        }
        h2.no-posts {
          font-family: 'Poppins', sans-serif;
          font-weight: 300;
          letter-spacing: .2px;
        }
      }

      .item-meta {
        width: 100%;

        span {
          color: #8d8d8d;
        }

      }

    }
  }

  .blog-info {
    position: sticky;
    top: 70px;
    height: 100%;
    
    @media only screen and (max-width: 62em) {
      display: none;
    }
  }
}