@import '../../variables.scss';

.blog-post-container {
  padding: 50px;
  min-height: calc(100vh - 220px);

  .item-meta {
    margin-bottom: 30px;

    span {
      color: #8d8d8d;
    }
  }


  .blog-post {
    text-align: left;
    padding-right: 25px;

    .blog-content {

      h1:first-of-type {
        display: none;
      }
    }

    p,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'Poppins', sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
      color: rgb(141, 141, 141);
    }

    h1 {
      font-size: 42px;
      color: $black;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 24px;
    }

    h4 {
      font-size: 20px;
    } 

    p {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: .5px;
      line-height: 1.8;
    }

    blockquote {
      
      p {
        font-size: 28px;
        font-weight: 400;
        font-style: italic;
      }

      P::before {
        content: '\201C'
      }

      P::after {
        content: '\201D'
      }
    }
  }

  .blog-info {
    position: sticky;
    top: 70px;
    height: 100%;
    
    @media only screen and (max-width: 62em) {
      display: none;
    }
  }
}
