@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/flexboxgrid-sass/flexboxgrid.scss';
@import './variables.scss';

body {
  font-family: $sans-serif-font;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-top: 100px;
}

@media only screen and (max-width: 48em) {

  body {
    margin-top: 50px;
  }
}

button, input[type="submit"], input[type="reset"] {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0! important;
  font: inherit;
  cursor: pointer;
  outline: inherit !important;
}

a {
  text-decoration: none;
  color: $primary-color;
  font-weight: bold;
}

img {
  max-width: 100%;
}
