@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/flexboxgrid-sass/flexboxgrid.scss';
@import './variables.scss';

body {
  font-family: $sans-serif-font;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 2000px;
}

a {
  text-decoration: none;
  color: $primary-color;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.content {
  margin-top: 100px;
  padding: 1rem;

  @media only screen and (max-width: 48em) {
    margin-top: 50px;
  }
}
