$primary-color: #54CDC4;
$link-color: #159C92;
$black: #222222;
$white: #F7F7F7;
$darkBlue: #2652AA;
$paleGreen: #B5F3EE;
$lilac: #6389D4;
$grey: rgb(141, 141, 141);
// $orange: #FFCB68;
$orange: #FFD88F;
$form-bg:  rgba(0, 0, 0, .05);
$form-bg-hover:  rgba(0, 0, 0, .08);
$sans-serif-font: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
  'Lucida Grande', sans-serif;
